.coupon {
    background: url(../Assets/color-lines.webp) repeat left top fixed;
    padding: 1.25rem;

    .position-absolute {
        right: 17%;
    }
}

@media (max-width : 526px) {
    .coupon {
        .position-absolute {
            top: 0;
        }
    }
}