@import "../../index.scss";

.wishlist {
    .text-center {
        .d-flex {
            h6 {
                color: $gray;
            }

            h4 {
                border-bottom: 4px solid $orang;
                padding-bottom: 5px;
            }
        }
    }
}