@import "../../index.scss";

.search-display {

    .text-center {
        .d-flex {
            h6 {
                color: $gray;
            }

            h4 {
                border-bottom: 4px solid $orang;
                padding-bottom: 5px;
            }
        }
    }
}

@media (max-width : 520px) {
    .search-display {
        margin-top: 3rem;
    }
}