@import "../../index.scss";

.category {
    .content-category {
        .sub-shadow {
            border-left: 8px solid $orang;
        }

        .border-info-details {
            border: 1px solid #dcc6c6;
            border-radius: 3px;
        }
    }
}

@media (max-width : 990px) {
    .category{
        .mt-6{
            margin-top: 6.2rem !important;
        }

    }
}

@media (max-width : 782px) {
    .category {
        .slider {
            .type-words {
                font-size: 20px;
                // margin-top: 13rem !important;
            }

            .none {
                display: none;
            }
        }

    }
}
@media (max-width : 445px) {
    .category{
        .mt-6{
            margin-top: 4.2rem !important;
        }

        .slider {
            h3{
                span , h1{
                    font-size: 23px !important;
                }
            }
        }

    }
}
@media (max-width : 380px) {
    .category {
        .slider {
            .type-words {
                font-size: 14px !important;
            }
        }
        .nav-link{
            .subcategory-alkhaleej{
                width: 300px;
            }
        }
    }
}
@media (max-width : 355px) {
    .category {
        .nav-link{
            .subcategory-alkhaleej{
                width: 265px;
            }
        }
    }
}