@import "../../index.scss";

.navbar-component {
    width: 100%;
}

.info {
    .details {

        h1,
        h3 {
            font-weight: bolder;
            font-size: 40px;
        }
    }

    .details-ar {

        h1,
        h3 {
            font-weight: bolder;
            font-size: 40px;
        }
    }

    .part-left {
        z-index: -10 !important;
        position: absolute;
        top: 35%;
    }
}

.slick-arrow {
    background-color: #1b0f23 !important;
    visibility: hidden !important;
    display: none !important;
}

.out-line-border {
    border: 30px solid $orang;
    border-radius: 5px;

}

.main-rotate {
    transform: rotate(90deg);
    left: -30%;
}

.rotate-image {
    transform: rotateY(180deg) rotate(90deg) ;
    right: -28%;

}

// Medium Devices (Desktops):
@media (min-width: 992px) and (max-width: 1286px) {
    .main-slider {
        // margin-bottom: 6rem;

        .info {

            .details,
            .details-ar {

                h1,
                h3 {
                    font-size: 30px !important;
                }

                .fs-5 {
                    font-size: 18px !important;
                }
            }
        }
    }
}

@media (max-width : 1286px) {
    .main-slider {
        .part-left {
            display: none;
        }
    }
}

@media (max-width : 991px) {
    .main-slider {
        margin-top: 7.2rem !important;
    }
}

@media (min-width: 576px) and (max-width : 765px) {
    .main-slider {
        margin-top: 4.2rem !important;
    }
}

// Small Devices (Tablets):
@media (min-width : 767px) and (max-width : 991px) {
    .main-slider {
        .info {

            .details,
            .details-ar {

                h1,
                h3 {
                    font-size: 28px !important;
                }

                .fs-5 {
                    font-size: 14px !important;
                }
            }
        }

        .btn-orange {
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 16px;
        }
    }

}

// Landscape phones:
@media (min-width : 576px) and (max-width : 766px) {
    .screan {
        padding-top: 55px;
    }
}

// Extra Small Devices (Phones):

@media (max-width : 566px) {
    .main-slider {

        .info .details,
        .info .details-ar {

            h1,
            h3 {
                font-size: 30px !important;
            }

            .fs-5 {
                font-size: 14px !important;
            }

            .btn-orange {
                border-color: $orang !important;
                font-size: 14px !important;
                margin: 5px 10px !important;

                &:hover {
                    color: $orang !important;
                }
            }
        }

    }
}

@media (min-width : 481px) and (max-width : 575px) {
    .main-slider {
        margin-top: 9.2rem !important;
    }
}

@media (min-width : 445px) and (max-width : 480px) {
    .main-slider {
        margin-top: 9.2rem !important;
    }
}

@media (min-width : 405px) and (max-width : 444px) {
    .main-slider {
        margin-top: 6.2rem !important;
    }
}

@media (max-width : 404px) {
    .main-slider {
        margin-top: 4rem !important;
    }
}

@media (max-width : 480px) {
    .main-slider {

        .info .details,
        .info .details-ar {

            h1,
            h3 {
                font-size: 28px !important;
            }

            .fs-5 {
                font-size: 12px !important;
            }

            .main-color {
                color: $orang !important;
            }

            .fs-small {
                font-size: 15px !important;
            }
        }

    }
}

@media (max-width : 405px) {
    .main-slider {

        .row> :first-child {
            margin-top: 2rem;
        }

    }
}