@import "../../index.scss";

.same-brand {
    .text-center {
        .d-flex {
            h6 {
                color: $gray;
            }

            h4 {
                border-bottom: 4px solid $orang;
                padding-bottom: 5px;
            }
        }
    }
}

@media (max-width : 782px) {
    .same-brand {
        .row{
            margin-right: 8px !important;
            padding-top: 3rem !important;
        }
    }
}