@media (max-width : 526px) {
    footer {
        .btn-input {
            input {
                height: 50px;
            }

            button {
                padding: 5px;
                font-size: 10px;
            }
        }
    }
}